<html>
  <head>
    <title>Leds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <ul class="list-inline">
      <li>
        <h1>Led:</h1>
        <a href="/led0" class="btn btn-success">Ligar/Desligar</a>
      </li>
      <br>
      <li>
        <h1>servo 180:</h1>
        <a href="/s180" class="btn btn-success">relay 180 graus</a>
      </li>
      <br>
      <li>
        <h1>servo 90:</h1>
        <a href="/s90" class="btn btn-success">relay 90 graus</a>
      </li>
    </ul>
  </body>
</html>